<% provide(:title, 'About') %>

<h2>What's this all about</h2>
<p>
  Since moving to Portland, Oregon from New Jersey well over a decade ago, I've had the pleasure of riding my bike to work nearly 52 weeks a year. As long as you accept that about five times a year that the weather will be wholly unpleasant and involve pelting freezing rain the will magically pass through any gortex seams you have, it really is a good deal.
</p>
<p>
  For the most part, I've discovered that what keeps most people from getting on their bikes or not trying to get on their bikes more often is that they often are just picking roads to ride that aren't really the best way to go by bike. If you drive most of the time, you probably try to cross town the same way by bike as you would in a car which is almost always the worst way to go. I, on the other hand, give horrible driving directions since I tend to give the biker's way to go.
</p>
<p>
  Once people figure out the best route, which is some mystical combination of the least amount of cars, hills, and time and despite the magic of Google maps and some pretty nifty bike maps, often the best way to go by bike is not the most obvious. 
</p>
<p>
  So, now we come to what this is all about. Bike with us is simply a way to share the most used bike routes in town so that you can see for yourself which way to go is the best by bike (best of course being determined here by having the most people using it - the wisdom of the crowds concept.)
</p>
<p>
  I hope it works. I hope I get to find a new way across town. I'd love a good way out to South West Portland that didn't involve Terwilliger.
</p>
<p>
  Comments, concerns, kittens - please send them my way. 
</p>