
<div class="hero">
  <div class="hero-inner">
    <a href="" class="hero-logo"><img src="" alt=""></a>
    <div class="hero-copy">
      <h1>Bike With Us</h1>
      <p>Looking for the best way to bike around town or want to add your favorite route? Go ahead and give us a try.</p> 
    </div>
    <button><%= link_to "Find a Ride", ride_path %></button>
    <button><%= link_to "Add a Ride", ride_path%></button>
  </div>
</div>
